*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.logo{
    font-size: 45px;
    font-weight: 900;
}

.orange-color{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    list-style-type: none; 
    gap: 51px;   
    align-items: center;
}

nav ul a{
    text-decoration: none;
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 65px;
    padding: 18px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #d75a01;
}

#banner{
    /* border: 2px solid black; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#banner .content{
    max-width: 585px;
}

#banner .content h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

#banner .content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .content .b1{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    width: 200px;
    height: 64px;
    border: none;
    border-radius: 5px;
    align-content: center;
    cursor: pointer;
    margin-right: 30px;
}

#banner .content .b1:hover{
    background-color: #d75a01;
}

#banner .content .b2{
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    width: 200px;
    height: 64px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    align-content: center;
    cursor: pointer;
}

#banner .content .b2:hover{
    background-color: #d8cfc8;
}